@font-face {
    font-family: luizi;
    src: url(luizi.otf)
}

@keyframes getIn {
    from {
        transform: translatey(-100%);
    }

    to {
        transform: translatey(0%);
    }
}

body {
  overflow-x: hidden;
  font-family: Sans-Serif;
  margin: 0;
}

.menu-container {
  position: relative;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background: #14967d;
  color: #cdcdcd;
  padding: 20px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  box-sizing: border-box;
}

.menu-logo {
  line-height: 0;
  margin: 0 20px;
}

.menu-logo img {
  max-height: 40px;
  max-width: 100px;
  flex-shrink: 0;
}

.menu-container a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

.menu-container a:hover {
  color: #00C6A7;
}

.menu-container input {
  display: block;
  width: 35px;
  height: 25px;
  margin: 0;
  position: absolute;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

/* Burger menu */
.menu-container span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

.menu-container span:first-child {
  transform-origin: 0% 0%;
}

.menu-container span:nth-child(3) {
  transform-origin: 0% 100%;
}

.menu-container input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(3px,-1px);
  background: #232323;
}

.menu-container input:checked ~ span:nth-child(4) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.menu-container input:checked ~ span:nth-child(3) {
  transform: rotate(-45deg) translate(-5px,11px);
}

.menu ul {
  list-style: none;
}

.menu li {
  padding: 10px 0;
  font-size: 22px;
}

/* mobile styles */
@media only screen and (max-width: 767px) { 
  .menu-container {
    flex-direction: column;
    align-items: flex-end;
  }
  
  .menu-logo {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  .menu-logo img {
    max-height: 30px;
  }

  .menu {
    position: absolute;
    box-sizing: border-box;
    width: 300px;
    right: -300px;
    top: 0;
    margin: -20px;
    padding: 75px 50px 50px;
    background: #cdcdcd;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    transform-origin: 0% 0%;
    transform: translateX(0%);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }

  .menu-container input:checked ~ .menu {
    transform: translateX(-100%);
  }
}

/* desktop styles */
@media only screen and (min-width: 768px) { 
  .menu-container {
    width: 100%;
  }

  .menu-container a {
    color: #cdcdcd;
  }

  .menu-container input {
    display: none;
  }

  /* Burger menu */
  .menu-container span {
    display: none;
  }

  .menu {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .menu ul {
    display: flex;
    padding: 0;
  }

  .menu li {
    padding: 0 20px;
  }
}


.menu-icon {
    cursor: pointer;
    display: inline-block;
    cursor: pointer;
    font-size: 24px;
    line-height: 1;
    z-index: 3;
}




.menu-overlay {
    background-color: #63c463e2;
    display: none;
    animation: getIn 250ms ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    box-shadow: rgb(0, 0, 0);
    z-index: 2;
    font-size: 30px;
    /* Semi-transparent black overlay */


    .menu-options {
        margin-top: 80%;
    }

    .menu-options p {
        font-family: luizi;
        border-radius: 15px;
        padding: 10px;
        margin: -10px;
        cursor: pointer;
        background-color: #7bd282;
        text-align: center;
        color: #f4f4f4;
        -webkit-text-stroke: 0.1px black;
        z-index: 2;
    }
}

.show-menu {
    display: block;
}

body {
    text-align: center;
    font-family: 'Courier New',
        Courier,
        monospace;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

.container {
    max-width: 1100px;
    margin: 30px auto;
    margin-top: 0;
    text-align: center;
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.175);
}

h1 {
    color: #333;
    font-size: 40px;
    font-style: normal;
    font-optical-sizing: auto
}

.cocktail-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.cocktail-item {
    font-size: larger;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    background-color: #f5f5f5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.options {
    font-size: large;
    color: rgb(255, 255, 255);
    display: none;
    background-color: #005606;
    border-radius: 150px;
    font-style: italic;
    width: 40%;
    top: 50%;
    left: 50%;
    transform: translate(75%, 190%);
}

.cocktail-item:hover {
    transform: scale(1.05);
    background-color: #aceaac;
}

.cocktail-item img {
    width: 100%;
    max-height: 150px;
    object-fit: cover;
    border-radius: 15px;
}

.order-status {
    margin-top: 30px;
    font-weight: bold;
    color: #555;
}